VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_GEMINI_MODEL=gemini-1.5-pro-latest
VITE_SUPABASE_STORAGE_BUCKET_DIAGNOSIS=diagnosis-images
VITE_SUPABASE_STORAGE_BUCKET_REPORTS=diagnosis-reports
VITE_SUPABASE_FUNCTION_DIAGNOSIS=diagnosis-infer
SUPABASE_GEMINI_API_KEY=
